<div class="container">
	<div class="row">
		<div class="post-show">
			<% @post.categories.each do |c| %>
			  <span><%= link_to c.name, category_path(c), style:"text-decoration: none; color: black;" %></span>
			<% end %>
			<h2><strong><%= @post.title %></strong></h2>
		</div>

    <div class="col-xs-8 col-xs-offset-2 post-comment">
    	<% if @post.post_comments.present? %>
	  		<% @post.post_comments.each do |c| %>
	    		<div class="comment">
	    			<div class="comment-user clearfix">
	    				<span><%= c.created_at.strftime('%Y年%m月%d日 %H時%M分') %></span>
	    				<span>from <%= c.name %></span>
	    				<% if c.user == current_user %>
	    			    <%= link_to '削除', post_post_comment_path(@post,c), method: :delete, class: "btn btn-danger btn-xs" %>
	    			  <% end %>
	    			</div>
	    			<p><%= c.comment %></p>
	    		</div>
	    	<% end %>
	    <% else %>
	      <div class="comment">
	      	<p>まだ書き込みがありません。</p>
	      </div>
	    <% end %>
		</div>
		<div class="col-xs-8 col-xs-offset-2 thread-delete">
    	<% if @post.user == current_user %>
		  <%= link_to 'スレッド削除', post_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
		<% end %>
    </div>

		<div class="col-xs-8 col-xs-offset-2 comment-form">
			<h2>書き込む</h2>
			<%= form_for [@post, @post_comment] do |f| %>
			  <table class="table">
			  	<tr>
			  		<th>名前</th>
			  		<td><%= f.text_field :name, class: "form-control", placeholder: "名前", style:"width: 200px;" %></td>
			  	</tr>
			  	<tr>
			  		<th>本文</th>
			  		<td><%= f.text_area :comment, class: "form-control", placeholder: "コメント", style:"height: 100px;" %></td>
			  	</tr>
			  </table>
		    <%= f.submit '送信', class: "btn btn-default" %>
		  <% end %>
		</div>

    
	</div>
</div>