<!DOCTYPE html>
<html>
  <head>
    <title>ThreadTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><strong><%= link_to "thread", root_path, class: "logo", style: "text-decoration: none;" %></strong></h1>
      <div class="nav-list">
        <% if user_signed_in? %>
          <span><strong><%= link_to 'トップ', root_path %></strong></span>
          <span><strong><%= link_to '新規投稿', new_post_path %></strong></span>
          <span><strong><%= link_to 'カテゴリ追加', new_category_path %></strong></span>
          <span><strong><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></strong></span>
        <% else %>
          <span><strong><%= link_to 'ログイン', new_user_session_path %></strong></span>
          <span><strong><%= link_to '新規登録', new_user_registration_path %></strong></span>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <p><%= current_user.email %> でログイン中</p>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
